.landing {
    font-family: "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    18pt;
    font-size:    18pt;
    line-height: 170%;
    max-width:    64ch;
}

.landing code {
    background: none;
}

.landing img {
    float:  left;
    border: 12px solid var(--Orange-B-Simpson);
    margin-right: 32pt;
}
    @media (prefers-color-scheme: dark) {
        .landing img {
            border: 12px solid var(--Iain-Blue-Simpson);
            opacity: 0.7;
        }
    }

.landing h3 {
    font-family: "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    32pt;
    line-height:  42pt;
    max-width:    34ch;
}
    .landing h3 em {
        font-family: "Permanent Marker",
                      cursive;
    }

.landing h4 {
    font-family: "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-weight:  700;
    font-size:     18pt;
    line-height:   24pt;
    max-width:     64ch;
}

.landing ul {
    float: left;
    margin-top:    24pt;
    margin-bottom: 48pt;
}

.landing li {
    font-family: "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    18pt;
    line-height: 170%;
    list-style: none;
    padding-left:   24pt;
    padding-bottom: 24pt;
    max-width:      52ch;
}
    .landing li img {
    /*  This is needed to remove the border that's set above to add a
     *  border to the headshot.
     */
        border: none;
    }
        @media (prefers-color-scheme: dark) {
            .landing li img {
                filter: invert(100%) !important;
                opacity: 1.0;
            }
        }
