html {
    color: var(--Onyx);
    background: var(--Isabelline);
    margin-top:    0;
    margin-bottom: 0;
}
    @media (prefers-color-scheme: dark) {      /* Code for Dark Mode. */
        html {
            background: var(--Onyx);
            color: var(--Misty-Rose);
            }
        }

a {
    color: var(--Iain-Blue-Simpson);
    text-decoration: none;
    border-bottom: 3px solid var(--Dark-Orange);
    font-weight: 600;
    padding-right: 1px;
}
    a:hover {
        color: var(--Dark-Orange);
    }
            @media (prefers-color-scheme: dark) {
                main a {
                    filter: invert(100%) !important;
                }
                    main a:hover {
                        filter: invert(100%) !important;
                    }
            }

    a.affiliate-link::after {
        content: url(dollars-small.png);
    }


header {
    font-family: "sitelen-pona-pona",
                 "Futura",
                 "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    18pt;
    font-variant-ligatures: none;
    align-items: center;                       /* Vertical alignment. */
    border-bottom: 3px solid var(--Dark-Orange);
    padding-top: 10px;
    text-align: center;
}

    header a {
    /*  This ensures that *all* links in the header bar have clearance 
     *  on the right to space out the icons and links.
     */
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: none;
        text-decoration: none;
    }
        header a:hover {
            padding-top: 20px;
        }

        header a:hover img {
            filter: invert(100%) !important;
        }


    header a.header-name {
        color: var(--Dark-Orange);
        font-size: 24pt;
    }
        header a.header-name:hover {
            padding-top: 20px;
            color: var(--Isabelline);
            background: var(--Dark-Orange);
            border-bottom: 3px solid var(--Dark-Orange);
            text-decoration: none;
        }

    header a.header-about {
        color: var(--Iain-Blue-Simpson);
        border-bottom: none;
        text-decoration: none;
    }
        header a.header-about:hover {
            color: var(--Isabelline);
            background: var(--Iain-Blue-Simpson);
            border-bottom: 3px solid var(--Iain-Blue-Simpson);
            text-decoration: none;
        }
            @media (prefers-color-scheme: dark) {
                header a.header-about {
                    filter: invert(100%) !important;
                }
                    header a.header-about:hover {
                        filter: invert(100%) !important;
                    }
            }

    header a.header-blog {
        color: var(--Dark-Orange);
        border-bottom: none;
        text-decoration: none;
    }
        header a.header-blog:hover {
            color: var(--Isabelline);
            background: var(--Dark-Orange);
            border-bottom: 3px solid var(--Dark-Orange);
            text-decoration: none;
        }
            @media (prefers-color-scheme: dark) {
                header a.header-blog {
                    filter: invert(100%) !important;
                }
                    header a.header-blog:hover {
                        filter: invert(100%) !important;
                    }
            }

    header a.header-linkedin {
        color: var(--Dark-Cornflower-Blue);
        border-bottom: none;
        text-decoration: none;
    }
        header a.header-linkedin:hover {
            color: var(--Isabelline);
            background: var(--Dark-Cornflower-Blue);
            border-bottom: 3px solid var(--Dark-Cornflower-Blue);
            text-decoration: none;
        }
            @media (prefers-color-scheme: dark) {
                header a.header-linkedin {
                    filter: invert(100%) !important;
                }
                    header a.header-linkedin:hover {
                        filter: invert(100%) !important;
                    }
            }

    header a.header-email {
        color: var(--Davys-Gray);
        border-bottom: none;
        text-decoration: none;
    }
        header a.header-email:hover {
            color: var(--Isabelline);
            background: var(--Davys-Gray);
            border-bottom: 3px solid var(--Davys-Gray);
            text-decoration: none;
        }
            @media (prefers-color-scheme: dark) {
                header a.header-email {
                    filter: invert(100%) !important;
                }
                    header a.header-email:hover {
                        filter: invert(100%) !important;
                    }
            }




main {
    margin-left:   50px;
    margin-right:  50px;
    font-family: "Poppins",
                  sans-serif;
    font-weight:  400;
    font-size:     14pt;
    line-height:  160%;
    margin-bottom: 40px;
}


h2 {
    font-family: "sitelen-pona-pona",
                 "Futura",
                 "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    24pt;
    font-weight:  bold;
    font-variant-ligatures: none;
}


p.post-tags {
    font-family: "sitelen-pona-pona",
                 "Futura",
                 "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    16pt;
    font-variant-ligatures: none;
}

a.post-tags-link {
    font-family: "sitelen-pona-pona",
                 "Futura",
                 "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-feature-settings: "liga" 1;
    color: var(--Iain-Blue-Simpson);
    border-bottom: none;
}
    a.post-tags-link:hover {
        font-family: "sitelen-pona-pona",
                     "Futura",
                     "Poppins",
                     "Century Gothic",
                      sans-serif;
        font-feature-settings: "liga" 1;
        color: var(--Dark-Orange);
}

p + p {
    text-indent: 28pt;
    margin-top: -10pt;
}





footer {
    font-family: "sitelen-pona-pona",
                 "Futura",
                 "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    18pt;
    font-weight:  bold;
    font-variant-ligatures: none;
    text-align: center;
    align-items: center;                       /* Vertical alignment. */
    border-top: 3px solid var(--Dark-Orange);
    padding-top: 10px;
    border-bottom: 3px solid var(--Dark-Orange);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

    footer a {
    /*  This ensures that *all* links in the footer bar have clearance
     *  on the right to space out the icons and links.
     */
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: none;
        text-decoration: none;
    }
        footer a:hover {
            padding-top: 20px;
        }

        footer a:hover img {
            filter: invert(100%) !important;
        }


    footer a.footer-name {
        color: var(--Dark-Orange);
    }
        footer a.footer-name:hover {
            padding-top: 20px;
            color: var(--Isabelline);
            background: var(--Dark-Orange);
            border-bottom: 3px solid var(--Dark-Orange);
            text-decoration: none;
        }

    footer a.footer-home {
        color: var(--Homely-Red);
        border-bottom: none;
        text-decoration: none;
    }
        footer a.footer-home:hover {
            color: var(--Isabelline);
            background: var(--Homely-Red);
            border-bottom: 3px solid var(--Homely-Red);
            text-decoration: none;
        }
            @media (prefers-color-scheme: dark) {
                footer a.footer-home {
                    filter: invert(100%) !important;
                }
                    footer a.footer-home:hover {
                        filter: invert(100%) !important;
                    }
            }

    footer a.footer-privacy {
        color: var(--Mahogany);
        border-bottom: none;
        text-decoration: none;
    }
        footer a.footer-privacy:hover {
            color: var(--Isabelline);
            background: var(--Mahogany);
            border-bottom: 3px solid var(--Mahogany);
            text-decoration: none;
        }
            @media (prefers-color-scheme: dark) {
                footer a.footer-privacy {
                    filter: invert(100%) !important;
                }
                    footer a.footer-privacy:hover {
                        filter: invert(100%) !important;
                    }
            }

    footer a.footer-copyright {
        color: var(--Dark-Pastel-Green);
        border-bottom: none;
        text-decoration: none;
    }
        footer a.footer-copyright:hover {
            color: var(--Isabelline);
            background: var(--Dark-Pastel-Green);
            border-bottom: 3px solid var(--Dark-Pastel-Green);
            text-decoration: none;
        }
            @media (prefers-color-scheme: dark) {
                footer a.footer-copyright {
                    filter: invert(100%) !important;
                }
                    footer a.footer-copyright:hover {
                        filter: invert(100%) !important;
                    }
            }
