:root {
/*  Setting colour scheme variables for use in the CSS file.  Easier to
 *  call these by name using 'var(--Orange-Simpson)' than to remember
 *  all the colour hex codes and try to decipher them while working on
 *  the CSS file itself.  It also means we can update entire colours
 *  with a few changes here.
 */

/*  "Onyx" is the body text colour in Day Mode, and the background
 *   colour in Night Mode; it's borrowed from Pickled.  */
    --Onyx:                 #313533;

    --Isabelline:           #fef9f5;     /* Light mode background. */

    --Misty-Rose:           #f9e0d9;     /* Dark mode text; some BGs. */
/*  "Midnight Rose" is the inverse of "Misty Rose". */
    --Midnight-Rose:        #061f26;


/*  "Orange B. Simpson" is the colour of the blog emoji (/icons/blog.png)
 *   and is used for link underline and hover, and other colourful and
 *   emphasis elements. */
    --Orange-B-Simpson:     #ff8c00;

    --Iain-Blue-Simpson:    #0404fc;

    --Iron-Blue-Simpson:    #0073ff;

/*  "Yellow Head" is the colour of the Iain emoji (/icons/iain.png) when
 *   it's inverted during hover and Dark Mode.  */
    --Yellow-Head:          #ffff02;

/*  "Double Windsor" is the colour of the Tie emoji (/icons/tie.png)
 *   which is used for the LinkedIn header link.  */
    --Double-Windsor: #043c94;

/*  "Grey Mail" is the colour of the Email emoji (/icons/email.png). */
    --Grey-Mail:            #5c5c5c;
/*  "Paler Postage" is the inverted hover of Grey Mail. */
    --Paler-Postage:        #a3a3a3;

/*  "Homely Red" is the colour of the Home emoji (/icons/home.png). */
    --Homely-Red:           #fc0404;
/*  "Blue Toon" is the inverted hover of Homely Red. */
    --Blue-Toon:            #03fbfb;

/*  "Iain Brown Simpson" is the colour of the privacy emoji 
 *   (/icons/privacy.png) */
    --Iain-Brown-Simpson:   #b44c04;
/*  "Blue It" is the inverted hover of Iain Brown Simpson. */
    --Blue-It:              #4bb3fb;

/*  "I. B. Simpsgreen" is the colour of the copyright emoji 
 *   (/icons/copyright.png) */
    --I-B-Simpsgreen:    #04c43c;
/*  "Private Purple" is the inverted hover of I. B. Simpsgreen. */
    --Private-Purple:    #fb3bc3;
}
