:root {
/*  Setting colour scheme variables for use in the CSS file.  Easier to
 *  call these by name using 'var(--Orange-Simpson)' than to remember
 *  all the colour hex codes and try to decipher them while working on
 *  the CSS file itself.  It also means we can update entire colours
 *  with a few changes here.
 */

/*  "Onyx" is the body text colour in Day Mode, and the background
 *   colour in Night Mode; it's borrowed from Pickled.  */
    --Onyx:                 #313533;

    --Isabelline:           #fef9f5;     /* Light mode background. */

    --Misty-Rose:           #f9e0d9;     /* Dark mode text; some BGs. */


/*  "Orange B. Simpson" is the colour of the blog emoji (/icons/blog.png)
 *   and is used for link underline and hover, and other colourful and
 *   emphasis elements. */
    --Orange-B-Simpson:     #fc8c04;

    --Iain-Blue-Simpson:    #0404fc;

/*  "Yellow Head" is the colour of the Iain emoji (/icons/iain.png) when
 *   it's inverted during hover and Dark Mode.  */
    --Yellow-Head:          #fcef34;

/*  "Double Windsor" is the colour of the Tie emoji (/icons/tie.png)
 *   which is used for the LinkedIn header link.  */
    --Double-Windsor: #043c94;

    --Davys-Gray:           #5c5c5c;

/*  "Homely Red" is the colour of the Home emoji (/icons/home.png). */
    --Homely-Red:           #fc0404;

    --Mahogany:             #b44c04;

    --Dark-Pastel-Green:    #04c43c;

}
