@font-face {
    font-family: 'sitelen-pona-pona';
    font-style:   normal;
    font-weight:  normal;
    font-display: swap;
             src: url('https://onionsamson.com/fonts/misc/spp.woff2') format('woff2'),
                  url('https://onionsamson.com/fonts/misc/spp.woff')  format('woff'),
                  url('https://onionsamson.com/fonts/misc/spp.ttf')   format('truetype'),
                  url('https://onionsamson.com/fonts/misc/spp.eot')   format('embedded-opentype');
}
